body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: #00B7FF;
}
.submit{
  margin-top:2%;
  margin-left: 40%;
}
.subTitle h3{
  color: #2368C4;
  text-align: center;
  font: 40px"Congenial Black";
}
.info{
  text-align: center;
  padding:5% 0% 5% 0%;
}
.input-group{
  margin-top:5%;
}
.readyInfo{
  text-align: center;
  font-size: 18px;
  color: #2368C4;
}
.readyImg{
  padding-left: 2%;
}
